.navbar { display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px; }
.brand { display: flex; align-items: center; gap: 10px; }
.brand i { font-size: 1.5rem; color: var(--primary); }
.brand h2 { font-size: 1.2rem; color: var(--text-main); font-weight: 700; }
.nav-links a { text-decoration: none; font-size: 1.4rem; margin-left: 15px; color: var(--text-light); transition: 0.2s; }
.nav-links a:hover { color: var(--primary); }
.back-btn { color: var(--text-main) !important; margin-left: 0 !important; margin-right: 10px; }
